<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SpryCoder.Camever.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <SpryCoder.Camever.Properties.Settings>
      <setting name="CameraHostname" serializeAs="String">
        <value />
      </setting>
      <setting name="SnapshotUrl" serializeAs="String">
        <value>cgi-bin/snapshot.cgi</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateInterval" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="ImageSavePath" serializeAs="String">
        <value />
      </setting>
      <setting name="ImageFileNamingFormat" serializeAs="String">
        <value>{year4}{monthno}{day}-{24hour}{min}{sec}</value>
      </setting>
      <setting name="CapturesEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WundergroundCameraID" serializeAs="String">
        <value />
      </setting>
      <setting name="WundergroundPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="WundergroundUploadEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KeepOnTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowLocation" serializeAs="String">
        <value>BottomRight</value>
      </setting>
      <setting name="OverlayTransparency" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="OverlayTopLeftText" serializeAs="String">
        <value />
      </setting>
      <setting name="OverlayTopRightText" serializeAs="String">
        <value />
      </setting>
      <setting name="OverlayBottomLeftText" serializeAs="String">
        <value />
      </setting>
      <setting name="OverlayBottomRightText" serializeAs="String">
        <value>{monthno}/{day}/{year4} {12hour}:{min}:{sec} {ampm}</value>
      </setting>
      <setting name="CameraMfg" serializeAs="String">
        <value>Amcrest</value>
      </setting>
      <setting name="LaunchCode" serializeAs="String">
        <value />
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
    </SpryCoder.Camever.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;libs" />
    </assemblyBinding>
  </runtime>
</configuration>